.page-tittle{
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;  
}
.h1-color{
    color: orange;
}
.first-sec{
    display: flex;
    margin-top: 50px;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 0;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}
.img{
    height: 100%;
    width: 100%;
}
.link{
    border: limegreen solid;
    padding: 10px  20px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgba(126, 13, 201, 0.692) , rgba(20, 183, 248, 0.904));
    border-radius: 8px;
}
.second-sec{
    display: flex;
}
#illus{
    height: 130px;
    width: 130px;
}
.mission{
    width: 26%;
    margin-left: 5%;
    margin-right: 3%;
    padding-bottom: 30px;
    padding-bottom: 30px;
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 246, 117, 0.747);
    text-align: center;
}
.vision{
    width: 26%;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 30px;
    border: none;
    border-radius: 15px;
    background-color: rgba(243, 161, 243, 0.479);
    text-align: center;
}
.goals{
    width: 26%;
    margin-left: 3%;
    margin-right: 5%;
    padding-bottom: 30px;
    padding-bottom: 30px;
    border: none;
    border-radius: 15px;
    background-color: rgba(126, 255, 244, 0.596);
    text-align: center;
}
.My-mission{
    text-align: center;
    padding: 30px;
}
.third-sec{
    display: flex;
    margin-top: 50px;
    background-image: url(shape-1.png);
    background-repeat: no-repeat;
    background-size: 18%;
    background-position: left;
    margin: 25px;
}
.half-width-2{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
}