.page-tittle{
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;  
    border-left: 7px solid;
    border-image: linear-gradient( rgb(250, 252, 122) ,rgb(253, 99, 72) );
    border-image-slice: 1;
}
.h1-color{
    color: orange;
}
.first-sec{
    display: flex;
    margin-top: 50px;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 0;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}
.img{
    height: 100%;
    width: 100%;
}
.link{
    border: pink solid;
    padding: 10px  20px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgba(218, 44, 175, 0.904) , rgba(248, 83, 61, 0.904));
    border-radius: 8px;
}
.second-sec{
    display: flex;
}
#illus{
    height: 130px;
    width: 130px;
}
.mission{
    width: 28.66%;
    margin-left: 5%;
    margin-right: 1%;
    padding-bottom: 30px;
    padding-bottom: 30px;
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 246, 117, 0.747);
    text-align: center;
}
.vision{
    width: 28.66%;
    margin-left: 1%;
    margin-right: 1%;
    padding-bottom: 30px;
    border: none;
    border-radius: 15px;
    background-color: rgba(243, 161, 243, 0.479);
    text-align: center;
}
.goals{
    width: 28.66%;
    margin-left: 1%;
    margin-right: 5%;
    padding-bottom: 30px;
    padding-bottom: 30px;
    border: none;
    border-radius: 15px;
    background-color: rgba(126, 255, 244, 0.596);
    text-align: center;
}
.h1-texts{
    text-align: center;
    padding: 30px;
    font-weight: 900;
}
.third-sec{
    display: flex;
    margin-top: 50px;
    background-image: url(shape-1.png);
    background-repeat: no-repeat;
    background-size: 18%;
    background-position: left;
    margin: 25px;
}
.half-width-2{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
}
.fourth-sec{
    display: flex;
    margin-top: 50px;
    background-image: url(shape-1.png);
    background-repeat: no-repeat;
    background-size: 18%;
    background-position: right bottom;
    margin: 25px;
}
.fifth-sec{
    display: flex;
    margin-top: 50px;
    margin: 25px;
    padding-bottom: 50px;
}
.footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 30px   ;
}
.footer-h1{
    font-family: 'Moon Dance', cursive; ;
    color: white;
    font-size: 50px;
}
span{
    color: tomato;
}